/**
 * Shared stylesheet for dashboard item components.
 * Author: Andrew Jarombek
 * Date: 4/15/2020
 */

@import "../../vars";

.items {
  background-color: @darkerTheme;
  border-radius: 3px;
  padding: 20px;

  h2, h3, p {
    color: @defaultFontColor;
  }

  p {
    font-family: 'Sylexiad-Bold', Helvetica, sans-serif;
  }

  h2, h3, a {
    font-family: 'Dyslexie', Helvetica, sans-serif;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  a {
    color: darken(@defaultFontColor, 20%);
    font-size: 12px;
  }

  .error {
    display: flex;

    h6 {
      margin: auto;
      color: @defaultFontColor;
      font-family: 'Dyslexie', Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
    }
  }
}
