/**
 * Stylesheet for the DashboardItems component.
 * Author: Andrew Jarombek
 * Date: 4/10/2020
 */

.dashboard-items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "userInfo userInfo userInfo repoCount topLang topLang";

  margin-top: 40px;
}
